html{
  color:white;
  background: black;
  font-size: 50px;
}

.piano{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.50s ease;
}

.sound{
  font-size: 1.2rem;
  text-transform: uppercase;
}

.glow{
  transform: scale(1.1);
  border-color: #FFD700;
  box-shadow: 0 0 1rem #FFD700;
}